body {
  background: rgb(235, 214, 249);
  background: radial-gradient(
    circle,
    rgb(217, 174, 246) 0%,
    rgb(250, 173, 173) 50%,
    rgba(255, 227, 184, 0.951) 100%
  ) !important;
}
.btn-color {
  background-color: rgb(63, 144, 159);
  color: aliceblue;
  font-weight: bold;
}
.notes {
  width: 30%;
}
#noteContent {
  height: 5rem;
}
.note-lists {
  padding: 5%;
}
.note-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
  border-radius: 10px;
  padding: 8px;
  background: linear-gradient(
    90deg,
    rgb(246, 152, 135) 0%,
    rgb(254, 223, 138) 57%,
    rgb(247, 255, 138) 100%
  );
  height: fit-content;
  width: 15%;
  box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
}
