body {
  background: radial-gradient(
    circle,
    rgba(21, 14, 74, 1) 0%,
    rgba(69, 18, 107, 1) 50%,
    rgba(79, 16, 83, 0.9514399509803921) 100%
  ) !important;
  font-family: "Cormorant Garamond", serif !important;
  font-size: 1.3rem !important;
}

.buttons {
  background-color: rgb(143, 37, 86);
  border-radius: 10px;
  border: 1px solid rgb(144, 1, 25);
  color: aliceblue;
  font-weight: bold;
}
.buttons:hover {
  scale: 1.1;
  cursor: pointer;
  transition: all 0.2s ease-out;
  background-color: #570213;
}

#createNote{
  padding: 0.6rem;
  background: rgb(160, 150, 233);
  background: radial-gradient(
    circle,
    rgb(166, 213, 234) 0%,
    rgb(165, 177, 234) 50%,
    rgba(224, 172, 235, 0.951) 100%
  );
}

#alerts{
  position: absolute;
  top: 2%;
  left: 2%;
  width: 20rem;
  /* display: none;  */
} 


#plusBtn {
  position: absolute;
  margin-top: 3%;
  right: 5%;
  font-size: 3.5rem;
  color: #ffa1c6;
  transition: 0.5s;
}
#plusBtn:before {
  transition: 1s;
}
#plusBtn:hover {
  color: rgb(192, 103, 197);
  transform: rotateY(180deg);
  cursor: pointer;
}
.notes {
  width: 25rem;
}
#noteContent {
  height: 5rem;
}
.note-lists {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  max-height: 100vh;
  overflow: auto;
}

.note-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  z-index: 1;
}
.notes {
  display: none;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  padding: 2% 3%;
  gap: 0.3rem;
  background: rgb(160, 150, 233);
  background: radial-gradient(
    circle,
    rgb(188, 179, 255) 0%,
    rgb(225, 183, 255) 50%,
    rgba(250, 183, 255, 0.951) 100%
  );
  height: 10rem;
  width: 20rem;
  box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
}
.item:hover {
  background: rgb(160, 150, 233);
  background: radial-gradient(
    circle,
    rgb(128, 190, 219) 0%,
    rgb(117, 136, 233) 50%,
    rgba(204, 122, 221, 0.951) 100%
  );
}

.list-item {
  height: 5rem;
  overflow-y: scroll;
}
.update-data {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(160, 150, 233);
  background: radial-gradient(
    circle,
    rgb(166, 213, 234) 0%,
    rgb(165, 177, 234) 50%,
    rgba(224, 172, 235, 0.951) 100%
  );
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 820px) {
  .item {
    height: 15rem;
  }
  .note-items {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #plusBtn {
    font-size: 4rem;
    margin-top: 2%;
    right: 10%;
  }
}
